<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE | Men's</title>
    <!-- Import the component -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
       <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/normalize.css') }}"
    /> 
    <link rel="icon" href="img/logo.jpg">
</head>

<body>
    <section id="header">
        <h1 class="logo-title">Fashion Feet</h1>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li id="lg-icons"><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <li id="lg-icons"><a href="/account"><i class="fas fa-user-circle"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="far fa-shopping-bag"></i></a>
            <a href="/account"><i class="fas fa-user-circle"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header">
        <h2>#men's</h2>
        <p>Save more with coupons & up to 70% off!</p>
    </section>

    <!--select category-->
    <br>
    <br>
    <section id="banner3">
        <div class="banner-box">
            <button class="small" onclick="window.location.href='/men';">Men's</button>
        </div>
        <div class="banner-box banner-box2">
            <button class="small" onclick="window.location.href='/women';">Women's</button>
        </div>
        <div class="banner-box banner-box3">
            <button class="small" onclick="window.location.href='/kids';">Kids'</button>
        </div>
    </section>



    <section id="product1" class="section-p1">
                <div class="pro-container">
                    <div class="pro" onclick="window.location.href='/sproduct';">
                        <img src="{{ url_for('static',filename='img/products/f1.jpeg') }}" alt="">
                        <div class="des">
                            <span>Nike</span>
                            <h5>Dunk Low 'Black White' 2021</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>₹340</h4>
                        </div>
                        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                    </div>
                    <div class="pro" onclick="window.location.href='/sproduct2';">
                        <img src="{{ url_for('static',filename='img/products/f2.jpeg') }}" alt="">
                        <div class="des">
                            <span>Nike</span>
                            <h5>Jordan 1 Low 'Bred Toe'</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>₹216</h4>
                        </div>
                        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                    </div>
                    <div class="pro" onclick="window.location.href='/sproduct4';">
                        <img src="{{ url_for('static',filename='img/products/f4.jpeg') }}" alt="">
                        <div class="des">
                            <span>Nike</span>
                            <h5>Jordan 1 Mid 'Linen'</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>₹212</h4>
                        </div>
                        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                    </div>
                    <div class="pro" onclick="window.location.href='/sproduct8';">
                        <img src="{{ url_for('static',filename='img/products/f8.jpeg') }}" alt="">
                        <div class="des">
                            <span>Adidas</span>
                            <h5>ADIDAS YEEZY BOOST 350 V2 'BELUGA REFLECTIVE'</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>₹402</h4>
                        </div>
                        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                    </div>
    </section>

    

    <script src="{{ url_for('static',filename='./js/script.js') }}"></script>
</body>

</html>